<div class="add-event-wrapper">
    <div class="add-event-card">
        <div class="card-title">
            Add Event
        </div>
        <div class="input-wrapper">
            <label for="event-name">
                Event Name
            </label>
            <input id="event-name" placeholder="e.g: Workshop" />
        </div>
        <div class="input-wrapper">
            <label for="event-name">
                Event Type
            </label>
            <input id="event-name" placeholder="e.g: Technical" />
        </div>
        <div class="input-wrapper">
            <label for="event-name">
                Date
            </label>
            <input id="event-name" placeholder="e.g: 03/18/2020" />
        </div>
        <div class="input-wrapper">
            <label for="event-name">
                Venue
            </label>
            <input id="event-name" placeholder="e.g: Auditorium" />
        </div>
        <div class="button-wrapper">
            <button class="sec-button float-left">Cancel</button>
            <button class="button float-right clear-fix">Add Event</button>
        </div>
    </div>
</div>